<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Pessoa</title>
</head>name
<body>
<h1>Cadastrar Pessoa Física</h1>
<form th:action="@{/pf/cadastrar}" th:object="${pessoaFisica}" method="post">
    <label for="nome">Nome</label>
    <input type="text" id="nome" th:field="*{nome}"/>

    <label>CPF</label>
    <input pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" th:field="*{cpf}">

    <div th:replace="fragments/address.html"></div>

    <button>Enviar</button>
</form>
</body>
</html>