<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}"
>
<head th:replace="fragments/head :: head(~{::title})">
    <title>Cadastro de Pessoa Jurídica</title>
</head>
<main>
<h1>Cadastrar Pessoa Jurídica</h1>
<form th:action="@{/pj/cadastrar}" th:object="${pessoaJuridica}" method="post">
    <label for="nome">Nome</label>
    <input id="nome"  th:field="*{nome}"/>
    <em th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></em>

    <label>CNPJ</label>
    <input pattern="\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2}"  th:field="*{cnpj}">
    <em th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></em>

    <div th:replace="fragments/address.html"></div>

    <button>Enviar</button>
</form>
</main>