<section>
  <h2>Endereço</h2>

  <label for="cep" >CEP</label>
  <input name="enderecos[].cep" id="cep" />

  <label for="logradouro" >Logradouro</label>
  <input name="enderecos[].logradouro" id="logradouro" />

  <label for="complemento" >Complemento</label>
  <input name="enderecos[].complemento" id="complemento" />

  <label for="bairro" >Bairro</label>
  <input name="enderecos[].bairro" id="bairro" />

  <label for="cidade" >Cidade</label>
  <input name="enderecos[].cidade" id="cidade" />
</section>