<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestão Produtos</title>
</head>
<body>
<form method="post">
    <h2>Criar Produtos</h2>

    <label for="descricao">Descrição</label>
    <input autofocus id=descricao type="text" name="descricao"/>

    <label for="valor">Valor</label>
    <input id="valor" type="number" name="valor">

    <button>Salvar</button>
</form>
<table>
    <h2>Produtos</h2>
    <thead>
    <th>DESCRICAO</th>
    <th>VALOR</th>
    </thead>
    <tbody>
    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.descricao}"></td>
        <td th:text="${#numbers.formatCurrency(produto.valor)}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>