<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}"
>
<head th:replace="fragments/head :: head(~{::title})">
    <title>Carrinho</title>
</head>
<main>
<h1>Escolha um endereço</h1>

<h3 th:text="|Total: ${venda.total}|" ></h3>

<form method="post">
    <section th:each="endereco, iteracao : ${enderecos}" >
        <input type="radio" name="endereco.id" th:value="${endereco.id}" />
        <h4 th:text="|Endereço ${iteracao.index + 1}|" ></h4>
        <p th:text="|CEP: ${endereco.cep}|" ></p>
        <p th:text="|Estado: ${endereco.cidade.estado.nome}|" ></p>
        <p th:text="|Cidade: ${endereco.cidade.nome}|" ></p>
        <p th:text="|Logradouro: ${endereco.logradouro}|" ></p>
        <p th:text="|Bairro: ${endereco.bairro}|" ></p>
    </section>

    <button>Finalizar</button>
</form>
</main>