<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}"
>
<head th:replace="fragments/head :: head(~{::title})">
    <title>Início</title>
</head>
<main class="container">
    <table class="table">
        <h2>Todos</h2>

        <div th:if="${itemVenda != null}">
            <div class="alert alert-danger" th:errors="${itemVenda.*}"></div>
        </div>

        <thead>
        <th>Nome</th>
        <th>Valor</th>
        <th></th>
        </thead>

        <tbody >
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.descricao}"></td>
            <td th:text="${#numbers.formatCurrency(produto.valor)}"></td>
            <td>
                <form th:action="@{/}" method="post" class="d-flex gap-3">
                    <div th:each="erro : ${#fields.detailedErrors()}">
                        <span th:text="${erro.fieldName}+' '+${erro.message}"></span>
                    </div>

                    <input class="form-control" type="number" name="qtd" value="1"/>

                    <button class="btn btn-primary" name="produto.id" th:value="${produto.id}">
                        Comprar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</html>